<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Messaging_app</title>
    </head>


    <body>
		<h1>Messaging App</h1>

        <div style="height: 70px;">

            <table>
            <tr>
            <th style="text-align:left">Username: <td>{{user.username}} 
            </table>

            <div style="width: 100px; float:left; margin:10px">
                    <form action='logout/' method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Logout"/>
                    </form>
            </div>
            <div style="width: 100px; float:left; margin:10px">
                    <form action='/account/{{user.id}}' method="GET">
                        <!-- {% csrf_token %} -->
                        <input type="submit" value="Account settings"/>
                    </form>
            </div>
        </div>  

        <div>
            <h2>Your Messages</h2>

            {% for msg in msgs %}

            <i>From {{msg.source.username}} to {{msg.target.username}}</i></br>
            {{msg.content|safe}}
            </br>
            </br>

            {% endfor %}

        
        <h2>Send a message</h2>

        <form action='add/' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            To:
            <select name="to">
            {% for user in users %}
                <option value="{{user.username}}">{{user.username}}</option>
            {% endfor %}
            </select><br/>

			<textarea name="content" cols="40" rows="3"></textarea><br/>
            <input type="submit" value="Send"/>
        </form>
    </div>
    </body>

</html>
